<section class="px-3 px-lg-4 px-xl-5 py-3">
  <!-- chat card -->
  <mat-card class="mat-elevation-z4 rounded m-auto p-0 overflow-hidden">
    <mat-card-title class="mb-0 p-3 mat-elevation-z6">
      <h2 class="card-title text-center mb-0">Simple Web Chat</h2>
    </mat-card-title>

    <!-- chat messages -->
    <mat-card-content
      class="p-3 chat-messages p-0 d-flex flex-column-reverse"
      *ngIf="messages$ | async as messages"
    >
      <!-- Check if there is no message -->
      <ng-container *ngIf="messages.length === 0; else Message">
        <div class="m-auto">
          <h3 class="text-muted">No messages yet, start chatting!</h3>
        </div>
      </ng-container>

      <!-- If there is a message in the chat -->
      <ng-template #Message>
        <div
          class="message"
          [ngClass]="{
            'message-own': (user$ | async)?.username === message.sender.username
          }"
          *ngFor="let message of messages"
        >
          <!-- <img
          class="message-image"
          [src]="message.profile"
          [alt]="message.sender"
        /> -->
          <div class="message-content">
            <!-- sender -->
            <div class="fw-bold mb-1">
              <span>{{ message.sender.username }}</span>
            </div>
            <div class="m-0">{{ message.text }}</div>
            <div class="message-time m-0 text-end text-muted">
              {{ message.time | date: "shortTime" }}
            </div>
          </div>
        </div>
      </ng-template>
    </mat-card-content>

    <mat-card-footer class="mat-elevation-z6" *ngIf="user$ | async as user">
      <app-chat-input [username]="user.username"></app-chat-input>
    </mat-card-footer>
  </mat-card>
</section>
